.row {
    display: table-row;

}

.row th:nth-child(1),
.row td:nth-child(1) {
    width: 15%,
}
.row th:nth-child(2),
.row td:nth-child(2) {
    width: 25%,
}
.row th:nth-child(3),
.row td:nth-child(3) {
    width: 60%,
}


.row th,
.row td {
    text-align: start;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.row th {
    padding: 12px;
    border-bottom: 1px solid var(--palette-border-primary);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--palette-text-secondary-light);
    font-family: PT Sans Caption, Arial Black, sans-serif;
    text-transform: uppercase;
    border-right: 1px solid var(--palette-border-primary);    
}
.row th:last-child {
    border-right: none;
}

.row td {
    padding: 10px;
    border-bottom: 1px solid var(--palette-border-primary);    
    font-size: 1rem;
    font-family: "PT Sans", Arial, sans-serif !important;
}

.row:last-child td {
    border-bottom: none;
}

.responsible {
    text-decoration: none;
    padding: 2.5rem 1rem;
}

.entityLink {
    color: var(--palette-text-secondary-light);
    cursor: pointer;
    text-decoration: underline;
}

.callIcon {
    margin-right: 1rem;
}